---
import Projects from "../components/About/Projects.astro";

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="projects">
  <section>
    <Projects />
  </section>
</MainLayout>
