---
import TechStack from "../components/About/TechStack.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Skills">
  <section>
    <TechStack />
  </section>
</MainLayout>
